/* Variables definition */

:root {
  /* Colors */
  --blue: #0053b3;
  --light-blue: #006be6;
  --dark-blue: #003b80;
  --lighter-blue: #b4e1fa;
  --white: #fff;
  --lightest-grey: #fafbfc;
  --lighter-grey: #ebeff3;
  --light-grey: #c9d3df;
  --grey: #adb9c9;
  --dark-grey: #8393a7;
  --darker-grey: #53657d;
  --darkest-grey: #26353f;
  --black: #1c1c1c;
  --green: #03bd5b;
  --light-green: #daf5e7;
  --orange: #ff9947;
  --dark-orange: #cc5c00;
  --light-orange: #fff0e4;
  --red: #d63626;
  --dark-red: #ab2b1e;
  --light-red: #efaca6;

  /* Breakpoints */
  --mobile-min: 400px;
  --mobile-max: 549px;
  --phablet-min: 550px;
  --phablet-max: 749px;
  --tablet-min: 750px;
  --tablet-max: 999px;
  --desktop-min: 1000px;

  /* Spaces */
  --space-xs: 0.5em;
  --space-s: 1em;
  --space-m: 1.5em;
  --space-l: 2em;
  --space-xl: 3em;

  /* Theme */
  --theme-primary: var(--blue);
  --theme-primary-light: var(--light-blue);
  --theme-primary-dark: var(--dark-blue);
  --theme-secondary: var(--blue);
  --theme-secondary-darken: var(--dark-blue);
  --theme-border: var(--grey);
  --theme-border-lighter: var(--light-grey);
  --theme-border-active: var(--light-blue);
  --theme-border-radius: 3px;
  --theme-background-white: var(--white);
  --theme-background-grey: var(--lighter-grey);
  --theme-background-color: var(--dark-blue);
  --theme-background-dark: var(--black);
  --theme-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
  --theme-label-text: var(--darker-grey);
  --theme-light-text: var(--white);
  --theme-dark-text: var(--darkest-grey);
  --theme-success-border: var(--green);
  --theme-success-bg: var(--light-green);
  --theme-warning-border: var(--orange);
  --theme-warning-bg: var(--light-orange);
  --theme-error-border: var(--red);
  --theme-error-bg: var(--light-red);
  --theme-info-border: var(--light-blue);
  --theme-info-bg: var(--lighter-blue);
}
