input,
textarea,
select {
  width: 100%;
  outline: none;
  padding: 0.5em 0.875em;
  font: inherit;
  line-height: 1.6;
  color: var(--black);
  border-radius: var(--theme-border-radius);
  border: 1px solid var(--theme-border);
  background: var(--theme-background-white);
  vertical-align: middle;
  position: relative;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--theme-border-active);
  transition: border-color 0.2s ease-out;
}

input:disabled,
select:disabled {
  background-color: var(--theme-background-grey);
}

input[type=radio],
input[type=checkbox] {
  margin: 0;
  margin-right: var(--space-xs);
}

input[type=radio] {
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
  display: inline-block;
  appearance: none;
  padding: 0;
}

input[type=radio]::before {
  content: '';
  border-color: var(--theme-primary);
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  left: 0.35em;
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
}

input[type=radio]:checked {
  background-color: var(--theme-background-white);
  border-color: var(--theme-primary);
  opacity: 1;
}

input[type=radio]:checked::before {
  background-color: var(--theme-primary);
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

input[type="checkbox"] {
  appearance: none;
  height: 1.4em;
  width: 1.5em;
  padding: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
  opacity: 1;
  transition: border-color 0.2s ease-in, background-color 0.2s ease-out;
}

input[type="checkbox"]::before {
  transform: scale(0);
  content: '';
  position: absolute;
  top: 0.2em;
  left: 0.15em;
  height: 1em;
  width: 1em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M14.23 1.304L6.112 9.501 2.767 6.117a1.029 1.029 0 0 0-1.464 0 1.054 1.054 0 0 0 0 1.479l4.055 4.101c.208.21.481.31.754.305.272.005.545-.095.753-.305l8.829-8.915a1.053 1.053 0 0 0 0-1.478 1.027 1.027 0 0 0-1.464 0z" fill="white" /></svg>') center center no-repeat;
}

input[type="checkbox"]:checked::before {
  color: var(--white);
  display: block;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

input[type="file"] {
  display: inline-flex;
}

select {
  appearance: none;
  background: var(--theme-background-white) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M1.254 2.518a.904.904 0 0 1 0-1.257.85.85 0 0 1 1.225 0l4.512 4.632 4.511-4.632a.85.85 0 0 1 1.225 0 .904.904 0 0 1 0 1.257L7.621 7.761a.848.848 0 0 1-.63.259.849.849 0 0 1-.631-.259L1.254 2.518z" fill="gray"/></svg>') no-repeat;
  background-position: top 1em right 0;
  background-size: 1.7em;
  padding-right: 2.8em;
  border-radius: var(--theme-border-radius);
  width: auto;
}

@-moz-document url-prefix() {
  select {
    padding-top: 0.438em;
    padding-bottom: 0.438em;
  }
}

select:focus {
  outline: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

label.required::before {
  content: '✱';
  color: var(--red);
  font-weight: 700;
  padding-right: var(--space-xs);
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}
