label.switch {
  position: relative;
  display: inline-block;
  padding-left: 2.6em;
}

label.switch input,
label.switch-text input {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 0;
  height: 0;
  border: 0;
  display: none;
}

label.switch input[type="checkbox"]::before {
  display: none;
}

label.switch .slider,
label.switch-text .slider {
  position: absolute;
  cursor: pointer;
  width: 2.5em;
  height: 1.4em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid var(--theme-border);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1em;
}

label.switch .slider::before,
label.switch-text .slider::before {
  position: absolute;
  content: '';
  height: 1em;
  width: 1em;
  border-radius: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: var(--theme-primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label.switch input:disabled + .slider,
label.switch-text input:disabled + .slider {
  border: 1px solid var(--theme-border);
  background-color: var(--theme-background-grey);
}

label.switch input:checked + .slider {
  border-color: var(--theme-primary);
  background-color: #b4e1fa;
  background-color: var(--theme-primary-lighter);
}

label.switch input:focus + .slider {
  border-color: var(--theme-border-active);
  transition: border-color 0.2s ease-out;
}

label.switch input:disabled + .slider::before,
label.switch-text input:disabled + .slider::before {
  background-color: var(--black);
}

label.switch input:checked + .slider::before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

label.switch-text {
  display: inline-block;
}

label.switch-text .slider {
  position: relative;
  width: auto;
  height: auto;
  padding: 0 0.4em;
}

label.switch-text .slider::before {
  display: inline-block;
  height: 1.1em;
  width: 48%;
  bottom: 0.1em;
}

label.switch-text input:checked + .slider::before {
  -webkit-transform: translateX(calc(100% - 0.2em));
  -ms-transform: translateX(calc(100% - 0.2em));
  transform: translateX(calc(100% - 0.2em));
}

label.switch-text .first-option,
label.switch-text .second-option {
  position: relative;
  color: var(--black);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label.switch-text .second-option {
  padding-left: 0.2em;
}

label.switch-text input + .slider .first-option {
  color: var(--white);
}

label.switch-text input:checked + .slider .first-option {
  color: var(--black);
}

label.switch-text input:checked + .slider .second-option {
  color: var(--white);
}
