.typography__sample {
    margin-bottom: 1em;
}

.typography__sample > * {
    margin: 0;
}


.color-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2em;
}

.color-panel__block {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.color-panel__sample {
  margin-right: 1em;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  vertical-align: middle;
}

.color-panel__name {
  padding: 0.5em 0;
  vertical-align: middle;
}

.color-panel__name h4 {
  margin: 0;
}

.color-panel__sample-double {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 1em;
}

.color-panel__sample-double .color-panel__sample {
  border-radius: 0;
  margin-right: 0;
}

/* color blocks */

.color-panel__sample.primary-medium {
  background: #0081D5;
}

.color-panel__sample.primary-light {
  background: #1E90DA;
}

.color-panel__sample.primary-dark {
  background: #006CB0;
}

.color-panel__sample.white {
  background: #FFFFFF;
  border: 1px solid #C9D3DF;
}

.color-panel__sample.lighter-grey {
  background: #EBEFF3;
}

.color-panel__sample.light-grey {
  background: #C9D3DF;
}

.color-panel__sample.grey {
  background: #adb9c9;
}

.color-panel__sample.dark-grey {
  background: #8393A7;
}

.color-panel__sample.darker-grey {
  background: #53657D;
}

.color-panel__sample.almost-black {
  background: #374355;
}

.color-panel__sample.black {
  background: #1c1c1c;
}

.color-panel__sample.green {
  background: #03BD5B;
}

.color-panel__sample.light-green {
  background: #DAF5E7;
}

.color-panel__sample.orange {
  background: #FF9947;
}

.color-panel__sample.light-orange {
  background: #FFF0E4;
}

.color-panel__sample.red {
  background: #D1335B;
}

.color-panel__sample.light-red {
  background: #F8E1E7;
}

.color-panel__sample.blue {
  background: #0081D5;
}

.color-panel__sample.light-blue {
  background: #B4E1FA;
}
