.card {
  background: var(--theme-background-white);
  border-radius: 2px;
  box-shadow: var(--theme-box-shadow);
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--theme-border-lighter);
}

.card.card__small .card__cover {
  border-radius: 50%;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  margin: var(--space-xs);
}

.card.card__small .card__body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.card.card__small .card__content {
  padding: var(--space-xs);
  word-break: break-word;
}

.card.card__small .card__extra {
  padding: var(--space-xs);
}

.row .card + .card {
  margin-left: var(--space-m);
}

@media (--smaller-than-tablet) {
  .row > .card {
    margin: 0;
  }

  .row > .card + .card {
    margin-left: 0;
    margin-top: var(--space-m);
  }
}

.card__cover {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-background-color);
}

.card__cover img {
  object-fit: cover; /* will not work on IE and Edge < 16 */
  height: 100%;
  width: 100%;
}

.card__content {
  padding: var(--space-m);
  flex-grow: 1;
}

.card__content h3 {
  margin: 0;
}

.card__content .card__meta {
  color: var(--darker-grey);
}

.card__content .card__meta time::after {
  content: " • ";
}

.card__content :last-child {
  margin-bottom: 0;
}

.card__extra {
  border-top: 1px solid var(--theme-border);
  padding: var(--space-s);
}
