/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--space-m);
}
/* stylelint-enable declaration-block-no-redundant-longhand-properties */

.pagination__display-group {
  margin: var(--space-xs);
}

.pagination__display-label {
  display: inline;
}

select.pagination__display {
  margin-left: var(--space-xs);
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}

.pagination__count {
  margin: var(--space-xs);
}

.pagination__pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.pagination__pages li a {
  color: var(--theme-primary);
  background-color: var(--theme-background-white);
  margin: 0 var(--space-xxs);
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--theme-border-radius);
  font-weight: 700;
  pointer-events: inherit;
  text-decoration: none;
  display: block;
}

.pagination__pages li a:hover {
  background-color: var(--lighter-blue);
}

.pagination__pages li.active a {
  color: var(--theme-light-text);
  background-color: var(--theme-background-color);
}

.pagination__pages li.disabled a {
  color: var(--dark-grey);
  background-color: var(--lightest-grey);
  pointer-events: none;
}
