.article {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  padding: 0;
  background: var(--white);
  color: var(--theme-dark-text);
  line-height: 1.5;
  margin: 0 auto;
}

.article__hero {
  height: 38vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__hero img {
  width: 100%;
  filter: brightness(0.5);
  position: absolute;
  z-index: 0;
}

.article__hero .article__container {
  z-index: 10;
  align-items: start;
  width: 100%;
}

.article__content {
  margin: 0;
}

.article__content .article__container {
  margin: 0 auto;
  padding: var(--space-l) 0 calc(var(--space-l) * 2);
}

.richtext + .article__author {
  margin-top: var(--space-s);
}

.article__author-list {
  padding-top: var(--space-s);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article__author {
  display: inline-block;
  max-width: 270px;
  padding: var(--space-s);
  font-size: 15px;
}

.article__author + .article__author {
  margin-left: var(--space-s);
  margin-top: 0;
}

.article__author img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}

.article__author-info {
  display: inline-block;
}

.article__author-name {
  font-weight: 700;
}

.article__author-role {
  color: var(--darker-grey);
  font-size: 0.9em;
  line-height: 0.8em;
}

.article__author-description p:last-child {
  margin-bottom: 0;
}

/* article list for blog and alike */

.article__preview {
  margin: 0 auto;
  padding: var(--space-m);
}

.article__preview + .article__preview {
  margin-top: 2em;
}

.article__preview .article__author {
  width: auto;
  padding: 0;
}

.article__preview .article__author img {
  float: none;
  vertical-align: middle;
}

.article__preview img + .article__author-name {
  margin-left: var(--space-xs);
}

a.article__link {
  color: var(--theme-dark-text);
  text-decoration: none;
}

.article__title {
  margin-bottom: 0;
}

.article__meta {
  margin-bottom: var(--space-s);
}

.article__thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.article__thumbnail img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (--smaller-than-phablet) {
  .article__container,
  .article__hero .article__container {
    width: 85%;
    padding: 0;
  }

  .article__author-list {
    flex-direction: column;
  }

  .article__author-list .article__author {
    width: 100%;
    margin-left: 0;
  }

  .article__author-list .article__author + .article__author {
    margin-top: var(--space-s);
    margin-left: 0;
  }
}
