.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.container.container-medium {
  max-width: 750px;
}

.container.container-small {
  max-width: 550px;
}

.container.container-full {
  max-width: none;
}

.container h1:first-child {
  margin-top: 0;
}

.article__container {
  max-width: 35em;
}

@media (--larger-than-mobile) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (--larger-than-phablet) {
  .container {
    width: 80%;
  }
}
