.hero {
  width: 100%;
  color: #fff;
  background: var(--theme-primary);
}

.hero__container {
  min-height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.hero__white-background {
  padding: 10px 1em;
  background-color: white;
}

h1.hero__white-background {
  color: var(--theme-dark-text);
  margin: 0;
}

.hero p {
  margin: 1em auto;
  color: var(--theme-dark-text);
  font-size: 1.2em;
}
