.section {
  padding: 5em 0;
}

.section-white {
  background-color: var(--theme-background-white);
}

.section-grey {
  background-color: var(--theme-background-grey);
}

.section-dark {
  background-color: var(--theme-background-dark);
  color: #fff;
}

.section-color {
  background-color: var(--theme-background-color);
  color: #fff;
}

.section__title:first-child {
  margin-top: 0;
  margin-bottom: var(--space-xs);
}

.section__subtitle {
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.25em;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: var(--darker-grey);
}

.section-dark .section__subtitle,
.section-color .section__subtitle,
.section-dark a,
.section-color a {
  color: currentColor;
}

.section__title + .row,
.section__subtitle + .row {
  margin-top: var(--space-xl);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title + .section__subtitle {
  margin-top: -var(--space-s);
}
