a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 2em;
  color: #fff;
  background-color: var(--theme-secondary);
  border-radius: var(--theme-border-radius);
  border: 0;
  box-shadow: 0 2px var(--theme-primary-dark);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  top: 0;
  overflow: hidden;
}

a.button:hover,
button.button:hover {
  background: var(--theme-secondary-darken);
}

a.button:active,
button.button:active {
  transform: translateY(2px);
  border-bottom: 0;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
}
