a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited,
input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"]:visited,
input[type="button"],
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"]:visited {
  display: inline-block;
  padding: 0.5em 2em;
  color: var(--theme-light-text);
  background-color: var(--theme-primary);
  border-radius: var(--theme-border-radius);
  border: 0;
  box-shadow: 0 -2px inset var(--theme-primary-dark);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  top: 0;
  overflow: hidden;
  text-decoration: none;
}

a.button:hover,
button.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: var(--theme-secondary-darken);
}

a.button:active,
button.button:active,
input[type="submit"]:hover,
input[type="button"]:hover {
  transform: translateY(1px);
  border-bottom: 0;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
}

a.button-outline,
a.button-outline:focus,
a.button-outline:active,
a.button-outline:visited,
button.button-outline,
button.button-outline:focus,
button.button-outline:active,
button.button-outline:visited {
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: var(--theme-border-radius);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  position: relative;
  top: 0;
  overflow: hidden;
  text-decoration: none;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

a.button-outline:hover,
button.button-outline:hover,
input[type="submit"].button-outline:hover,
input[type="button"].button-outline:hover {
  border-color: var(--light-grey);
  color: var(--light-grey);
}

.button-outline.primary,
a.button-outline.primary {
  border-color: var(--blue);
  color: var(--blue);
}

.button-outline.primary:hover,
.button-outline.primary:active {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.button-outline.warning,
a.button-outline.warning {
  border-color: var(--red);
  color: var(--red);
}

.button-outline.warning:hover,
.button-outline.warning:active {
  border-color: var(--dark-red);
  color: var(--dark-red);
}

.button-outline.secondary,
a.button-outline.secondary {
  border-color: var(--darker-grey);
  color: var(--darker-grey);
}

.button-outline.secondary:hover,
.button-outline.secondary:active {
  border-color: var(--almost-black);
  color: var(--almost-black);
}

a.button.small,
button.button.small,
input[type="submit"].small,
input[type="button"].small,
a.button-outline.small,
button.button-outline.small {
  font-size: 0.825em;
  padding: 0.25em 1em;
}

a.button.large,
button.button.large,
input[type="submit"].large,
input[type="button"].large,
a.button-outline.large,
button.button-outline.large {
  font-size: 1.25em;
}

.button.warning,
a.button.warning {
  background-color: var(--red);
  box-shadow: 0 -2px inset var(--dark-red);
}

.button.warning:hover,
.button.warning:active {
  background-color: var(--dark-red);
}

.button.secondary,
a.button.secondary {
  background-color: var(--darker-grey);
  box-shadow: 0 -2px inset var(--almost-black);
}

.button.secondary:hover,
.button.secondary:active {
  background-color: var(--almost-black);
}

.button + .button,
.button-outline + .button-outline {
  margin-left: 1em;
}
