.card {
  background: var(--theme-background-white);
  border-radius: 2px;
  box-shadow: var(--theme-box-shadow);
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--theme-border-lighter);
}

.row .card {
  margin: 0 1em;
}

@media (--smaller-than-tablet) {
  .row > .card {
    margin: 0;
  }

  .row > .card + .card {
    margin-top: 2em;
  }
}

.card__cover {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__cover img {
  object-fit: cover; /* will not work on IE and Edge < 16 */
  height: 100%;
  width: 100%;
}

.card__content {
  padding: 2em;
  flex-grow: 1;
}

.card__content h3 {
  margin: 0;
}

.card__content .card__meta {
  color: var(--darker-grey);
}

.card__content .card__meta time::after {
  content: " • ";
}

.card__content :last-child {
  margin-bottom: 0;
}

.card__extra {
  border-top: 1px solid var(--theme-border);
  padding: 1em;
}
