pre {
  display: block;
  margin-top: 1em;
}

code {
  background: var(--lighter-grey);
  border-radius: var(--theme-border-radius);
  padding: 0.5em;
  font-size: 0.8em;
  font-family: 'Courier New';
  word-break: break-word;
  white-space: pre;
  display: inline-block;
}

pre code {
  font-size: 1em;
  padding: 1em;
}