pre {
  display: block;
  margin-top: 1em;
}

code {
  background: var(--lighter-grey);
  border-radius: var(--theme-border-radius);
  padding: 0 0.5em;
  font-family: 'Courier New';
  font-size: 0.9em;
  word-break: break-word;
  white-space: pre-wrap;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
}

pre code {
  padding: 1em;
}
