.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.row .column {
  margin: 0 2em;
  max-width: 50em;
}

.row .column + .column {
  margin-left: 2em;
}

@media (--smaller-than-tablet) {
  .row {
    flex-direction: column;
  }

  .row .column:not(:last-child) {
    margin-bottom: 2em;
  }

  .row p + p {
    margin-top: 1em;
  }
}

.column img {
  width: 100%;
}
