.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: -2em;
  margin-right: -2em;
  flex-direction: row;
}

.row > * {
  max-width: 50em;
}

.row > * {
  margin: 0 2em;
}

@media (--smaller-than-tablet) {
  .row {
    flex-direction: column;
  }

  .row > * {
    margin: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-top: 1em;
  justify-items: center;
  justify-content: space-evenly;
}

.grid .panel + .panel,
.grid .card + .card {
  margin: 0;
}
