.row,
.column {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: -1em;
  margin-right: -1em;
}

.row {
  flex-direction: row;
}

.row > * {
  max-width: 50em;
}

.column {
  flex-direction: column;
}

.row > * {
  margin: 0 1em;
}

@media (--smaller-than-tablet) {
  .row {
    flex-direction: column;
  }

  .row > * {
    margin: 1em;
  }
}

.column img {
  width: 100%;
}
