.hero {
  width: 100%;
  color: #fff;
  background-color: var(--theme-background-grey);
  background-blend-mode: darken;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero__container {
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hero__white-background {
  padding: 10px 1em;
  background-color: white;
}

.hero h1 {
  color: var(--theme-dark-text);
  margin: 0;
}

.hero p {
  margin: 1em 0 0;
  color: var(--theme-dark-text);
  font-size: 1.2em;
  font-style: italic;
}
