/* global rules */
@import "base/theme.css";
@import "base/media-queries.css";
@import "base/typography.css";
@import "base/code.css";
@import "base/main.css";

/* basic elements */
@import "elements/input.css";
@import "elements/button.css";
@import "elements/table.css";
@import "elements/icon.css";
@import "elements/label.css";

/* recurring components */
@import "components/form.css";
@import "components/card.css";
@import "components/panel.css";
@import "components/dropdown.css";
@import "components/modal.css";
@import "components/notification.css";

/* larger components */
@import "layouts/container.css";
@import "layouts/nav.css";
@import "layouts/hero.css";
@import "layouts/footer.css";
@import "layouts/section.css";
@import "layouts/article.css";
@import "layouts/dashboard.css";
@import "layouts/documentation.css";

/* helpers for evertyhing else */
@import "utility/alignment.css";
@import "utility/text-colors.css";
@import "utility/layout.css";
