body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: auto;
  background: var(--theme-background-grey);
}

a,
button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: var(--theme-primary);
  text-decoration: none;
  transition: color 0.2s ease-out;
}
