* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  color: var(--theme-dark-text);
  padding: 0;
  margin: 0;
  overflow: auto;
}

a,
button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: underline;
  transition: color 0.2s ease-out;
  color: var(--theme-primary);
}

small {
  font-size: 0.875em;
}

.modals .button {
  margin: auto;
}
