.navbar {
  border-bottom: 1px solid var(--theme-box-shadow);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: #fff;
  z-index: 100;
}

.nav-fixed {
  position: fixed;
  top: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}

.navbar__home {
  height: 40px;
}

.navbar__logo {
  height: 100%;
}

.nav__links {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  padding: 0;
  display: inline-block;
}

.nav__item a,
.nav__item .dropdown {
  text-decoration: none;
  color: var(--black);
  padding: 0.4em 0.8em;
  border-radius: 3px;
}

.nav__links a::after {
  content: none;
}

.nav__item a:hover,
.nav__item .dropdown:hover {
  background: var(--lighter-grey);
}

.nav__item a.active {
  background: var(--theme-primary);
  color: var(--white);
}

a.navbar__home {
  font-family: 'Evolventa';
  display: flex;
  align-items: center;
  color: $almost-black;
  letter-spacing: 0.05em;
}

.navbar__home img {
  vertical-align: middle;
}

.navbar__logo {
  margin-right: 0.8em;
}

.navbar__gouvfr {
  height: 18.4px;
}

span.navbar__domain {
  font-weight: 400;
  color: var(--theme-dark-text);
}

@media (--smaller-than-tablet) {
  .navbar__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__links {
    padding-top: 1em;
  }
}
